@import url(https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap);

* {
    font-family: Patrick Hand,cursive;
}
body{
    font-family: Patrick Hand,cursive;
    margin: 0;
    padding: 0;
    background: #ffffff url('/image/bg.png');
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0px; 
}
.game-wrapper {
    text-align: center;
    padding: 16px;
}
.game-info {
    padding: 16px;
}
.game-info .title {
    margin: 0;
    margin-bottom: 16px;
}
.game-info .title .version {
    font-weight: normal;
    color: #524a4c;
    font-size: 12px;
    margin-left: 4px;
}
.game-info .select_player,
.game-info .select_difficulty {
    display: flex;
    padding: 8px;
    justify-content: center;
}
.game-info .single_info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-info .single_info label {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px;
}
.game-board {
    display: flex;
    justify-content: center;
}
.board {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    border: 11px solid #cfc8b8;
}
.board-row {
    display: flex;
}
.square {
    background: #fff;
    height: 80px;
    width: 80px;
    font-weight: bold;
    padding: 0;
    font-size: 48px;
    color: #cfc8b8;
    border: 4px solid #cfc8b8;
}
.square:hover {
    transition: background-color 0.5s ease;
    background-color: #e6e2da;
    cursor: pointer;
}
.square:focus {
    outline: none;
}
.square.X {
    background-color: #524a4c;
}
.square.O {
    background-color: #6b948c;
}

.game-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.game-stats .stats {
    margin: 8px;
}

.game-stats .stats span {
    font-size: 20px;
    font-weight: bold;
}
.game-stats img,
.single_info img {
    vertical-align: middle;
}
.game-stats p:last-child {
    cursor: pointer;
}

/* Radio Buttton */
/* The container */
.radio-button {
    margin: 0 8px;
}
.radio-container {
    display: block;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 0;
    vertical-align: middle;
    background-color: #ddd;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #aaa;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #6b948c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.developedby {
    margin: 10px 0;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
th {
    text-align: inherit;
}
